* {
  margin: 0;
}
body {
  height: 100vh;
  border: 10px solid rgb(255, 251, 38);
}
h1 {
  background-color: rgb(255, 251, 38);
  padding: 10px;
}

/* Edad Media */
main div h2 {
  background-color: orange;
}
main div {
  background-color: yellow;
  width: 300px;

}

h3 {
  background-color: orange;
  color: #fff;
}

/* Edad Media */
.edad-media {
  margin: 20px;
  float: left;
  padding: 0px 10px 10px 10px;
  border: 2px solid orange;
}

.edad-media h2 {
  width: 320px;
  position: relative;
  left: -10px;
}

.edad-media .e557 {
  float: left;
  width: 136px;
  border: 2px solid orange;
  margin-top: 10px;
  border-bottom: 7px solid orange;
}
.e557 p {
  padding: 5px;
}


.edad-media .e1287 {
  width: 146px;
  float: right;
  margin-top: 10px;
  border: 2px solid orange;
  margin-left: 10px;
  border-bottom: 7px solid orange;
}
.e1287 p {
  padding: 5px;
}

/* Edad Moderna */
.edad-moderna {
  margin: 20px;
  height: 164px;
  float: left;
  padding: 0px 10px 10px 10px;
  border: 2px solid orange;
}

.edad-moderna h2 {
  width: 320px;
  position: relative;
  left: -10px;
}

.edad-moderna .e1542 {
  float: left;
  width: 144px;
  border: 2px solid orange;
  margin-top: 10px;
  border-bottom: 7px solid orange;
}
.e1542 p {
  padding: 5px;
}

.edad-moderna .e1782 {
  width: 138px;
  float: right;
  margin-top: 10px;
  border: 2px solid orange;
  margin-left: 10px;
  border-bottom: 7px solid orange;
}
.e1782 p {
  padding: 5px;
}


/* Edad Comtemporanea */
.edad-contemporanea  {
  margin: 20px;
  height: 450px;
  float: left;
  padding: 0px 10px 10px 10px;
  border: 2px solid orange;
}
.edad-contemporanea h2 {
  width: 320px;
  position: relative;
  left: -10px;
}
.columna-1 {
  width: 150px;
  float: left;
  margin-top: 10px;
}

.e1812 {
  width: 144px;
  border: 2px solid orange;
  border-bottom: 7px solid orange;
}
.e1812 p {
  padding: 5px;
}
.e1900 {
  width: 140px;
  border: 2px solid orange;
  margin-top: 43px;
  border-bottom: 7px solid orange;
}
.e1900 p {
  padding: 5px;
}

.columna-2 {
  width: 150px;
  float: right;
  margin-top: 10px;
}
.e1819 {
  width: 140px;
  border: 2px solid orange;
  border-bottom: 7px solid orange;
  margin-left: 5px;
}
.e1819 p {
  padding: 5px;
}
.e1911 {
  width: 140px;
  border: 2px solid orange;
  margin-top: 43px;
  border-bottom: 7px solid orange;
}
.e1911 p {
  padding: 5px;
}
.e1947 {
  width: 140px;
  border: 2px solid orange;
  margin-top: 30px;
  border-bottom: 7px solid orange;
}
.e1947 p {
  padding: 5px;
}